@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Kaushan+Script&family=Lora&family=Nanum+Brush+Script&family=Pacifico&display=swap'); /*Se importa dirección para buscar la fuente en la página de google*/

*{
    margin: 0;
    padding: 0;
}
header{
    background: #cccccc;
    width: 100%;
    height: 20vh;
    border: 3px solid #ffffff;
    margin: 3px 3px;
    position: relative;
}
h1{
font-family: "Dancing Script" , sans-serif;
position: absolute;
top: 40px;
left: 40px;
font-style: italic;
}
#fuente{
    color: green;
    font-family: "Kaushan Script" , sans-serif;
    font-size: 50px;
    text-transform: uppercase; /*text-transform se utiliza para cambiar el texto*/
    font-family: "Nanum Brush Script", sans-serif;
    
    text-decoration-line: underline ;
}
article{
    background: lightgreen;
    width: 85%;
    height: 80vh;
    margin: 1px 2px;
    border: 2px solid #ffffff;
    position: relative;
    float: left; /*Se utiliza para mover una etiqueta a la derecha*/
}
article > div > h2{
    font-size: 20px;
    font-family: sans-serif;
    margin: 3px 3px;
   text-transform: uppercase ;
}
article > div > #subtitulo2 {
    position: absolute;
    left: 55%;
    bottom: 92%;
}

article > div  > #Subtitulo3 {
    position: absolute;
    top:40%;
    margin: 10px 10px;
}
article > div > p {
    width: 45%;
    height: 50px;
    text-align: justify;
    text-transform: uppercase;
    font-size: 17px;
}

article > div > #parrafo2 {
    position: absolute;
    left: 53%;
    bottom: 83%;

}
article > div > #parrafo3{
    position: absolute;
    top:45%;
    margin: 5px 5px;
}
img{
    margin: 10px 10px;
    width: 37vw;
    height: 50vh;
    position: absolute;
    left: 53%;
    top: 31%;
}
aside{
    width: 10%;
    height: 60%;
    float: left;
  
}
#caja1{
    border: 2px solid #ffffff;
    background: lightgreen;
    width: 138%;
    height: 20vh;
   
}
#caja2{
    border: 2px solid #ffffff;
    background: #cccccc;
    width: 138%;
    height: 60vh;
}
footer{
    clear: both; /* Para limpiar la instruccion que  realizamos del footer*/
    width: 85%;
    height: 10vh;
    background: lightgreen;
    margin: 2px;
    border: 1px solid #ffffff;
}
h6{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 20px;
    font-style: italic;
}

