body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fondo{
    width: 100%;
    height: 100vh;
    background: #000203;
    margin: auto;
    position: relative;
}
#pelota{
    width: 45px;
    height: 45px;
    background:  #05104b;
    position: absolute;
    border-radius: 50%; 
animation: pelota 10s infinite linear;
}
@keyframes pelota{
    0%{
        background: #05104b;
        top: 77%;
        left: 10%;
    }
    5%{
        background: #05104b;
        top: 67%;
        left: 20%;
    }
    10%{
        background: #05104b;
        top: 57%;
        left: 30%;
    }
    15%{
        background: #05104b;
        top:47%;
        left: 40%;
    }
    20%{
        background: #05104b;
        top: 57%;
        left:50%;
    }
    25%{
        background: #05104b;
        top: 67%;
        left: 60%;
    }
    30%{
        background: #05104b;
        top: 77%;
        left: 70%;
    }
    35%{
        background: #05104b;
        top: 87%;
        left: 80%;
    }
    30%{
        background: #05104b;
        top: 77%;
        left: 70%;
    }
   25%{
    background: #05104b;
    top: 67%;
    left: 60%;
   }
  }