body{
    background: rgb(241, 228, 215), 215);
}
h1{
    font-family: "Shrikhand";
    word-spacing: 30px;
    color: rgb(6, 43, 165);
    background: silver;
    width: 52%;
}
 div > h2{
    font-family:"secular one" ;
    font-size: 20px;
    color: rgb(85, 1, 1);
}
div > ul > li >span{
    font-weight: bold;
}


div > img{
    margin: 10px 10px;
   border-radius: 10%;
    width: 10vw;
    height: 20vh;
}
div{
    background-color: silver;
    border: black;
    padding: 12px;
    width:50%;
   margin: 5px;
    position: relative;
}