body {
    padding: 0;
    box-sizing: border-box;
    padding: 12px;
   margin: 5px;
  }

   div{
    background-color: rgb(217, 135, 250);
    border: black;
    padding: 12px;
    width:50%;
    margin: 5px;
    position: relative;
  }

h1{
    text-align: justify;
  }

h2{
  color: #a200ff;
  justify-content: space-around;
 }
 .flex-start{
    display: flex;
    justify-content: flex-start;
   }

 #rectangulo{
    width: 80px;
    height: 50px;
    background: rgb(255, 166, 0);
    border-radius: 20%;
    margin: 10px;
    padding: 20px;
}
 #cuadrado{
    width: 40px;
    height: 50px;
    background: rgb(255, 166, 0);
    border-radius: 20%;
    margin: 10px;
    padding: 20px;
 }

 .flex-end {
  display: flex;
  justify-content: flex-end;
 }

 .center{
  display: flex;
  justify-content: center;
 }

 .between{
   display: flex;
  justify-content: space-between;
 }

 .around{
   display: flex;
   justify-content: space-around;
 }

 .evenly{
   display: flex;
   justify-content: space-evenly;
 }

 